@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Comforter', cursive;*/
}

.outer-container-header {
    background-color: #e7613a;
    background-image: linear-gradient(to right, #e7613a, #dd3038);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container-header-content {
    flex-basis: 1200px;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
}

.header-content {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo-image {
    height: 100px;
    width: 100px;
}

h1,h2,h3,h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
