.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 75px lightgrey;
    background-color: #FFFFFF;
    height: 200px;
    width: 300px;
}
.title-link:link, .title-link:visited, .title-link:hover, .title-link:active {
    text-decoration: none;
    color: #292929;
}

.link {
    color: #dd3038;
}

.post-info {
    font-weight: lighter;
}


