@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*Rood #dd3038;*/
/*Oranje #e7613a;*/
/*Licht oranje #FDF4F2;*/
/*Zwart #292929 (voor standaard tekst);*/
/*Wit #FFFFFF;*/


* {
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Comforter', cursive;*/
}

.body {
font-family: 'Roboto Condensed', sans-serif;;
}

